<h1>Welcome To Our Blog Page</h1>

<h5>List all the posts here</h5>
<div>
  <% if session[:user_id] %>
  <% @posts.each do |post| %>
    <%= render post %>
    <br>
    <br>
  <% end %>
</div>
<br>
<%= button_to 'View my posts', user_posts_path(@user), method: :get %>
<%= button_to 'Create a new post', new_user_post_path(@user), method: :get %>
  <% else %>
    <% @posts.each do |post| %>
    <%= render post %>
     <br>
  <br>
  <% end %>

<% end %>
